services:
  app:
    build:
      context: ./docker/php
    container_name: laravel_app
    user: "${UID}:${GID}"
    working_dir: /var/www
    volumes:
      - ./:/var/www
    depends_on:
      - postgres

  nginx:
    image: nginx:stable-alpine
    container_name: laravel_nginx
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
